body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 16px;
}

header {
	background-color: purple;
	color: #fff;
	padding: 20px;
}

header h1 {
	margin: 0;
	font-size: 40px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 2px;
	display: flex;
}

nav li {
	margin: 5px;
}

nav a {
	color: #fff;
	text-decoration: underline;
}

main {
	margin: 20px;
	display: flex;
	flex-wrap: wrap;
}

section {
	margin-right: 20px;
	flex: 1 1 300px;
}

section#featured .artwork {
	margin: 20px 0;
}

section#featured .artwork img {
	width: 100%;
	height: auto;
}

section#featured .artwork h3 {
	margin: 10px 0;
}

section#featured .artwork p {
	margin: 5px 0;
}

section#search form {
	display: list;
	flex-wrap: center;
}

section#search label {
	flex: 200px;
  margin: 2px;
  padding: 2px;
}

section#search input[type="text"] {
	flex: 1 1 100px;
	margin: 5px;
}
section#search input[type="text"] {
	flex: 1 1 100px;
	margin: 5px;
}

section#search input[type="submit"] {
	flex: 1 1 100px;
	background-color: black;
	color: #fff;
	border: none;
	padding: 10px;
	cursor: pointer;
}

section#search input[type="submit"]:hover {
	background-color: purple;
}

footer {
	background-color: purple;
	color: #fff;
	padding: 0;
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}
